header,
aside {
    a {
        text-decoration: none;
        color: white;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

li {
    list-style: none;
}

.main-wrapper {
    height: calc(100vh - 58px);
}

aside {
    width: 200px;
    height: 100%;
}